<web-app>    
<servlet>  
<servlet-name>Internal</servlet-name>  
<servlet-class>Internal</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>Internal</servlet-name>  
<url-pattern>/internal</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>Retrieve</servlet-name>  
<servlet-class>Retrieve</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>Retrieve</servlet-name>  
<url-pattern>/Retrieve</url-pattern>  
</servlet-mapping>  
</web-app>  