<web-app>    
<servlet>  
<servlet-name>Internal</servlet-name>  
<servlet-class>Internal</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>Internal</servlet-name>  
<url-pattern>/internal</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>RetrieveByRoll</servlet-name>  
<servlet-class>RetrieveByRoll</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>RetrieveByRoll</servlet-name>  
<url-pattern>/RetrieveByRoll</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>RetrieveByName</servlet-name>  
<servlet-class>RetrieveByName</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>RetrieveByName</servlet-name>  
<url-pattern>/RetrieveByName</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>RetrieveByPhone</servlet-name>  
<servlet-class>RetrieveByPhone</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>RetrieveByPhone</servlet-name>  
<url-pattern>/RetrieveByPhone</url-pattern>  
</servlet-mapping>  
<servlet>  
<servlet-name>RetrieveByEmail</servlet-name>  
<servlet-class>RetrieveByEmail</servlet-class>  
</servlet>    
<servlet-mapping>  
<servlet-name>RetrieveByEmail</servlet-name>  
<url-pattern>/RetrieveByEmail</url-pattern>  
</servlet-mapping>  
</web-app>  